.right ul li{
    float: right;
    padding-top: 10px;
    padding-bottom:10px;
    text-align: right;
    padding-left: 0;
    margin-left: 0;
}
.right ul{
    padding-left: 0;
    margin-left: 0;
    overflow: hidden;
    width: 600px;
    float: right;
    text-align: right;
    background-color: #4CAF50;
}
nav{
    height: 50px;
    background-color: inherit;
    opacity: 0.9;
    background-color: #8D8D8D;
    margin-bottom:15px;
}
.navbar{
    background-color: inherit;
}


.logo{
    color: black;
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
}

.right{
    float: right;
    width:auto;
}

.navbar-custom {
    background-color: #D8D8D8;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: black;
}
.navbar-custom .navbar-nav .nav-link {
    color:black;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #4CAF50;
}