.outro{
  position:absolute;
  right:0;
  bottom:0;
  margin:0;
  padding:11px;
}

.modal{
  display:none;
  position:fixed;
  z-index:100;
  top:0;
  left:0;
  background:rgba(0,0,0,0);
  width:100%;
  height:100vh;
  transition:background 0.2s ease-in-out;
}

.modal .wrapper{
  padding:0 8px;
  width:100%;
  max-width:500px;
  box-sizing:border-box;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.modal .message{
  -webkit-transition:transform 0.5s ease-in-out;
  -moz-transition:transform 0.5s ease-in-out;
  -ms-transition:transform 0.5s ease-in-out;
  -o-transition:transform 0.5s ease-in-out;
  transition:transform 0.5s ease-in-out;
  will-change: transform;
  background:#FFF;
  
  -webkit-transform:scale(0,0);
  -moz-transform:scale(0,0);
  -ms-transform:scale(0,0);
  -o-transform:scale(0,0);
  transform:scale(0,0);
  
  padding: 25px;
  box-sizing:border-box;
  box-shadow:0 11px 44px rgba(0,0,0,0.4);
  max-width:500px;
  width:100%;
  overflow:hidden;
  border: 2px solid #4CAF50;
  text-align: center;
  margin: 0 auto 100px;

}

.modal .message button{float:right;}

.modal.transition{background:rgba(0,0,0,0.5);}

.modal.transition .message{
  -webkit-transform:scale(1,1);
  -moz-transform:scale(1,1);
  -ms-transform:scale(1,1);
  -o-transform:scale(1,1);
  transform:scale(1,1);
}

.modal.display{display:block;}

.przyciskAdminObiekt {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 16px;
  width: 100%;
}
.przyciskAdminObiekt:hover {
  background-color: #4CAF50;
  color: white;
}

.przyciskAdminObiekt:active{
  transform:translateY(5%);
}

#openButton{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:1.5em;
}

.modal input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #4CAF50;
  color: #777777;
  
}

.modal input:required {
  box-shadow:none;
}

.modal h1{
  font-size: 40px;
  margin-bottom: 15px;
  color: #b1b1b1;
}

.modal p{
  text-align:left;
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 8%;
}