  .card {
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Arial;
    margin: 0 auto;
    transition: transform 0.3s ease;
    margin-bottom:20px;
    height:250px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  
  .content {
    padding: 20px;
  }
  
  .title {
    font-weight: 700;
    color: hsl(0, 0%, 30%);
    padding-bottom: 10px;

  }
  
  .text {
    color: hsl(0, 0%, 30%);
    margin-top:10px;
    text-align:justify;
  }

.separator{
    width: 258px;
    border: 1px solid #4CAF50;
    margin-top:-10px;
}