  #myInput {
    width: 250px;
    max-height: 35px;
    font-size: 16px;
    padding: 10px 20px 12px ;
    border: 2px solid #4CAF50;
    margin-bottom: 12px;
  }
  
 /* #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th {
    text-align: left;
    padding: 12px;
    background-color: #ddd;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
  }

  #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 2px solid #f2f2f2;
  }
  
  #myTable tr:nth-child(even){background-color: #f2f2f2;}

  #myTable tr:hover {background-color: #ddd;}

  #ObjectReservationTable-scroll {
    height:350px;
    overflow:auto;  
    margin-top:20px;
  }

  /*.przyciskSzczegoly {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .przyciskSzczegoly {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.przyciskSzczegoly:hover {
    background-color: #4CAF50;
    color: white;
}  

th.nazwa { 
  width: 45%; 
  cursor: pointer;
 }
th.miasto { width: 45%; cursor: pointer; }
th.przycisk { width: 10%; }

i{
  width: 10px;
  text-align: center;
  padding-bottom: 20px;
  background-color: indianred;
}

*/