  #myInput {
    width: 250px;
    height: 50px;
    font-size: 16px;
    padding: 10px 20px 12px ;
    border: 2px solid #4CAF50;
    margin-bottom: 12px;
  }
  


.ustawienieInputa{
  float:left;
  margin-right:15px;
}
.ustawienieSelecta{
  float:left;
}

.clear{
  clear: both;
}
