.login-page {
  width: 450px;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 25px;
  text-align: center;
  border: 2px solid #4CAF50;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #4CAF50;
  color: #777777;
}

.form input:required {
  box-shadow:none;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message .beniz {
  color: #4CAF50;
  text-decoration: none;
  cursor: pointer;
}

.form .register-form {
  display: none;
} 
.form .forgot-password-form {
  display: none;
} 
.form .forgot-login-form {
  display: none;
} 
.form h1{
  font-size: 40px;
  margin-bottom: 25px;
  color: #b1b1b1;
}