.ProfileForm {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 350px;
  margin: left;
  padding: 25px;
  text-align: center;
  border: 2px solid #4CAF50;
  height:220px;
}

.ProfileForm h1{
  font-size: 24px;
  margin-bottom: 25px;
  color: #b1b1b1;
}

.ProfileForm p{
  font-size: 14px;
  margin-bottom: 5px;
}

.ProfileForm .info{
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}

.profile{
max-width: 840px;
height:220px;
border: 2px solid #4CAF50;
overflow: hidden;
background-color:white;
}
.profile label{
padding: 5px;
text-align: right;
}
.profile input{
border: 1px solid #4CAF50;
}

.profile .row{
margin-bottom: 10px;
}

.dane{
padding-top: 10px;
}
.haslo{
padding-top: 10px;
}
.hasloinput{
padding-right: 40px;
margin-left: 30px;
margin-bottom:2px;
}
input{
height:40px;
margin-bottom: 3px;
padding-left: 10px;
}

.myProfileData{
margin-bottom: 30px;
}

#editPassword{
display: none;
}
.row{
  padding-right:15px;
}

.powiadomienia-form{
  width: 70%;
  height: 100px;
  background-color:white;
  border: 2px solid #4CAF50;
  text-align:center;
  padding:10px;
  margin:auto;
}