.map{
    height: 375px;
    width: 500px;
}

.ObjectForm {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    padding: 25px;
    text-align: center;
    border: 2px solid #e7e7e7;
    height:375px;
  }

  .ObjectForm h1{
    font-size: 24px;
    margin-bottom: 15px;
    color: #b1b1b1;
}

  .ObjectForm p{
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .ObjectForm .info{
    margin: 5px 0 0;
    color: #b3b3b3;
    font-size: 14px;
  }
/*
  #ObjectReservationTable {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    font-size: 18px;
  }
  
  #ObjectReservationTable th {
    text-align: left;
    padding: 12px;
    background-color: #ddd;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
  }

  #ObjectReservationTable td {
    text-align: left;
    padding: 12px;
  }
  
  #ObjectReservationTable tr {
    border-bottom: 2px solid #f2f2f2;
  }
  
  #ObjectReservationTable tr:nth-child(even){background-color: #f2f2f2;}

  #ObjectReservationTable tr:hover {background-color: #ddd;}

  #ObjectReservationTable-scroll {
    height:350px;
    overflow:auto;  
    margin-top:20px;
  }

  th.godzinyRezerwacji { width: 70%;  }
  th.rezerwacja { width: 30%;  }
*/
  .row{
    margin-right: -14px;
  }

  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked)
  {
      position: absolute;
      left: -9999px;
  }
  [type="checkbox"]:checked + label,
  [type="checkbox"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
  }
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before
  {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #4CAF50;
      background: #fff;
  }
  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:after
  {
      content: '';
      width: 8px;
      height: 8px;
      background: #4CAF50;
      position: absolute;
      top: 5px;
      left: 5px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="checkbox"]:not(:checked) + label:after
  {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }
  [type="checkbox"]:checked + label:after
  {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
  [type="checkbox"]:disabled:checked + label:before,
  [type="checkbox"]:disabled:not(:checked) + label:before
  {
      border-color: #ccc;
      background-color: #eee;
  }
  [type="checkbox"]:disabled:checked + label:after
  {
      background: #aaa;
  }
  
  
 