.map{
    height: 375px;
    width: 500px;
}

.ObjectForm {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    padding: 25px;
    text-align: center;
    border: 2px solid #e7e7e7;
    height:375px;
  }

  .ObjectForm h1{
    font-size: 24px;
    margin-bottom: 15px;
    color: #b1b1b1;
}

  .ObjectForm p{
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .ObjectForm .info{
    margin: 5px 0 0;
    color: #b3b3b3;
    font-size: 14px;
  }
/*
  #ObjectReservationTable {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    font-size: 18px;
  }
  
  #ObjectReservationTable th {
    text-align: left;
    padding: 12px;
    background-color: #ddd;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
  }

  #ObjectReservationTable td {
    text-align: left;
    padding: 12px;
  }
  
  #ObjectReservationTable tr {
    border-bottom: 2px solid #f2f2f2;
  }
  
  #ObjectReservationTable tr:nth-child(even){background-color: #f2f2f2;}

  #ObjectReservationTable tr:hover {background-color: #ddd;}

  #ObjectReservationTable-scroll {
    height:350px;
    overflow:auto;  
    margin-top:20px;
  }

  th.godzinyRezerwacji { width: 70%;  }
  th.rezerwacja { width: 30%;  }
*/
  .row{
    margin-right: -14px;
  }

  /*input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
   label {
    position: sticky;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 36px;
    cursor: pointer;
  }
  label::before {
    content: " ";
    position: absolute;
    top: 6px;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    z-index: -1; 
  }
  input[type="radio"] + label::before {
    border-radius: 18px;
  }
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    padding-left: 10px;
    color: #fff;
  }
  input[type="checkbox"]:checked + label::before,
  input[type="radio"]:checked + label::before {
    top: 0;
    width: 100%;
    height: 100%;
    background: #4CAF50;
  }
  label,
  label::before {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  
 */