.map{
    height: 375px;
    width: 500px;
}

.ObjectForm {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    padding: 25px;
    text-align: center;
    border: 2px solid #4CAF50;
    height:375px;
  }

  .ObjectForm h1{
    font-size: 24px;
    margin-bottom: 15px;
    color: #b1b1b1;
}

  .ObjectForm p{
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .ObjectForm .info{
    margin: 5px 0 0;
    color: #b3b3b3;
    font-size: 14px;
  }
img{
  max-width: 700px;
  max-height: 375px;
}