.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
}
.button:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskAnuluj {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 12px;
  margin: 4px 2px;
  width: 100%;
  border: 2px solid red;
}
.przyciskAnuluj:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskAnuluj:hover {
  background-color: red;
  color: white;
}
.przyciskZapiszZmiany {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 9px 89px;
  font-size: 12px;
  margin: 0px 30px;
}
.przyciskZapiszZmiany:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskEdytuj {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 12px;
  margin: 14px 2px;
}
.przyciskEdytuj:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskZaloguj {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 16px;
  width: 100%;
}
.przyciskZaloguj:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskRezerwuj {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 12px;
  margin: 8px 0px;
}
.przyciskRezerwuj:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskWyszukaj {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 7px 7px;
  font-size: 12px;
  margin: 0px 6px;
}
.przyciskWyszukaj:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskDodajObiekt {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  width: 220px;
  height: 50px;
  font-size: 16px;
  padding: 10px 20px 12px ;
  margin-left: 15px;
  clear: both;
}
.przyciskDodajObiekt:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskPotwierdzDane {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 16px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
}
.przyciskPotwierdzDane:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskUsunAktualnosc {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 6px 20px;
  font-size: 14px;
  margin-top: 10px;
  border: 2px solid red;
}
.przyciskUsunAktualnosc:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskUsunAktualnosc:hover {
  background-color: red;
  color: white;
}
.przyciskEdytujAktualnosc {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 6px 16px;
  font-size: 14px;
  margin-top: 10px;
}
.przyciskEdytujAktualnosc:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskDodajAktualnosc {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  width: 170px;
  height: 50px;
  font-size: 16px;
  padding: 10px 20px 12px ;
  margin-left: 15px;
  margin-bottom: 15px;
  clear: both;
}
.przyciskDodajAktualnosc:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskSzczegoly {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 12px;
  margin: 4px 2px;
}
.przyciskSzczegoly:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskUsunObiekt {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 12px;
  margin: 4px 2px;
  border: 2px solid red;
}
.przyciskUsunObiekt:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskUsunObiekt:hover {
  background-color: red;
  color: white;
}
.pagination-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 12px;
  margin: 4px 2px;
  width: 60px;
}
.pagination-button:hover {
  background-color: #4CAF50;
  color: white;
}
.custom-file-upload {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  width: 100%;
  padding: 8px 8px;
}
.custom-file-upload:hover {
  background-color: #4CAF50;
  color: white;
}
.powiadomienia-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: white;
  color: #216224;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  padding: 8px 8px;
  margin-top: -500px;
}
.powiadomienia-button:hover {
  background-color: #4CAF50;
  color: white;
}
