.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.button:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskAnuluj {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 8px 8px;
  font-size: 12px;
  margin: 4px 2px;
  width: 100%;
}
.przyciskAnuluj:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskZapiszZmiany {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 8px 71px;
  font-size: 12px;
  margin: 0.5px 30px;
}
.przyciskZapiszZmiany:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskEdytuj {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 8px 8px;
  font-size: 12px;
  margin: 14px 2px;
}
.przyciskEdytuj:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskZaloguj {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 8px 8px;
  font-size: 16px;
  width: 100%;
}
.przyciskZaloguj:hover {
  background-color: #4CAF50;
  color: white;
}
.przyciskSzczegoly {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 8px 8px;
  font-size: 12px;
  margin: 4px 2px;
}
.przyciskSzczegoly:hover {
  background-color: #4CAF50;
  color: white;
}
