ul {
  position: relative;
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav {
  height: 50px;
  background-color: inherit;
  opacity: 0.9;
  background-color: #8D8D8D;
  margin-bottom: 15px;
}
.navbar {
  background-color: inherit;
}
.logo {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.navbar-custom {
  background-color: #3D4944;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}
.navbar-custom .navbar-nav .nav-link {
  color: white;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #4CAF50;
}
