ul {
  position: relative;
  float: right;
  margin-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav {
  height: 50px;
  background-color: inherit;
  opacity: 0.9;
  background-color: black;
}
.navbar {
  background-color: inherit;
}
.navbar-custom {
  background-color: black;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255, 255, 255, 0.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}
.logo {
  color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
