ul {
  position: relative;
  float: right;
  margin-left: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav {
  height: 50px;
  background-color: inherit;
  opacity: 0.9;
  background-color: black;
}
.navbar {
  background-color: inherit;
}
.logo {
  color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
