/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 2px solid #4CAF50;
  background: white;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 430px;
  height: 50px;
  line-height: 3;
  overflow: hidden;
  margin-bottom: 15px;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: black;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: white;
  pointer-events: none;
  border: 2px solid #4CAF50;
  color: #3D4944;
}
/* Transition */
.select:hover::after {
  color: #4CAF50;
}
.select::after {
  -webkit-transition: .5s all ease;
  -o-transition: .5s all ease;
  transition: .5s all ease;
}
