.Table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
.Table-scroll {
  height: 350px;
  overflow: auto;
  margin-top: 20px;
}
.Table th {
  text-align: left;
  padding: 12px;
  background-color: #3D4944;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
  font-weight: normal;
}
.Table td {
  text-align: left;
  padding: 12px;
}
.Table tr {
  border-bottom: 1px solid #b3b3b3;
  background-color: #FFFFFF;
}
.Table tr:hover {
  background-color: #F2F2F2;
}
.myTable {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
.myTable-scroll {
  height: 350px;
  overflow: auto;
  margin-top: 20px;
}
.myTable th {
  text-align: left;
  padding: 12px;
  background-color: #3D4944;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
  font-weight: normal;
}
.myTable td {
  text-align: left;
  padding: 12px;
}
.myTable tr {
  border-bottom: 1px solid #b3b3b3;
  background-color: #FFFFFF;
}
.myTable tr:hover {
  background-color: #F2F2F2;
}
.myTable th.nazwa {
  width: 45%;
  cursor: pointer;
}
.myTable th.miasto {
  width: 45%;
  cursor: pointer;
}
.myTable th.przycisk {
  width: 10%;
}
.myAdminObjectTable {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
.myAdminObjectTable-scroll {
  height: 350px;
  overflow: auto;
  margin-top: 20px;
}
.myAdminObjectTable th {
  text-align: left;
  padding: 12px;
  background-color: #3D4944;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
  font-weight: normal;
}
.myAdminObjectTable td {
  text-align: left;
  padding: 12px;
}
.myAdminObjectTable tr {
  border-bottom: 1px solid #b3b3b3;
  background-color: #FFFFFF;
}
.myAdminObjectTable tr:hover {
  background-color: #F2F2F2;
}
.myAdminObjectTable th.nazwa {
  width: 43%;
  cursor: pointer;
}
.myAdminObjectTable th.miasto {
  width: 45%;
  cursor: pointer;
}
.myAdminObjectTable th.przycisk {
  width: 12%;
}
.ObjectReservationTable {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
.ObjectReservationTable-scroll {
  height: 350px;
  overflow: auto;
  margin-top: 20px;
}
.ObjectReservationTable th {
  text-align: left;
  padding: 12px;
  background-color: #3D4944;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
  font-weight: normal;
}
.ObjectReservationTable td {
  text-align: left;
  padding: 12px;
}
.ObjectReservationTable tr {
  border-bottom: 1px solid #b3b3b3;
  background-color: #FFFFFF;
}
.ObjectReservationTable tr:hover {
  background-color: #F2F2F2;
}
.ObjectReservationTable th.godzinyRezerwacji {
  width: 70%;
}
.ObjectReservationTable th.rezerwacja {
  width: 30%;
}
.ReservationTable {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  margin-top: 15px;
}
.ReservationTable-scroll {
  height: 350px;
  overflow: auto;
  margin-top: 20px;
}
.ReservationTable th {
  text-align: left;
  padding: 12px;
  background-color: #3D4944;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
  font-weight: normal;
}
.ReservationTable td {
  text-align: left;
  padding: 12px;
}
.ReservationTable tr {
  border-bottom: 1px solid #b3b3b3;
  background-color: #FFFFFF;
}
.ReservationTable tr:hover {
  background-color: #F2F2F2;
}
.ReservationTable th.obiekt {
  width: 25%;
}
.ReservationTable th.adresObiektu {
  width: 25%;
}
.ReservationTable th.godzinaRezerwacji {
  width: 20%;
}
.ReservationTable th.dataRezerwacji {
  width: 20%;
}
.ReservationTable th.przyciskAnulujTabela {
  width: 10%;
}
